aside {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    transition: transform 0.3s ease;
    width: 240px;
}

aside.minimized {
    transform: translateX(-245px);
}

aside>div {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    right: -3.75rem;
    top: 0.5rem;
}

aside>div:hover {
    cursor: pointer;
}

aside>div>i {
    height: 32px;
    line-height: 32px !important;
    text-align: center;
    transition: rotate 0.3s ease;
    width: 32px;
}

aside.minimized>div>i {
    rotate: -180deg;
}

aside>header {
    flex-shrink: 0;
    padding: 0.5rem 0;
    text-align: center;
}

aside>header>h1 {
    letter-spacing: 1.5rem;
}

aside>nav {
    flex-grow: 1;
    overflow-y: auto;
}

aside>nav>ul {
    list-style: none;
}

aside>nav>ul>li {
    position: relative;
}

aside>nav>ul>li>a {
    align-items: center;
    display: flex;
    color: #393939;
    font-size: 0.925rem;
    padding: 1rem 0.75rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

aside>nav>ul>li>a:hover {
    background-color: #e8e8e8;
}

aside>nav>ul>li>a>i {
    height: 24px;
    line-height: 24px !important;
    margin-right: 1rem;
    text-align: center;
    width: 24px;
}

aside>nav>ul>li>a>i:last-child {
    margin-left: auto;
    transition: rotate 0.5s ease;
}

aside>nav>ul>li>ul {
    list-style: none;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}

aside>nav>ul>li>ul.open {
    max-height: 500px;
}

aside>nav>ul>li>ul::before {
    background-color: #333;
    content: '';
    height: 100%;
    margin-left: 1.2rem;
    position: absolute;
    width: 0.07rem;
}

aside>nav>ul>li>ul>li:not(:last-child) {
    border-bottom: none;
}

aside>nav>ul>li>ul>li>a {
    color: #393939;
    display: flex;
    font-size: 0.875rem;
    margin-left: 2.5rem;
    padding: 0.75rem 0.75rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

aside>nav>ul>li>ul>li>a:hover {
    background-color: #e8e8e8;
    border-radius: 0.3rem;
}

aside>nav>ul>li:has(ul li a:hover)>a {
    background-color: #e8e8e8;
}

aside>footer {
    flex-shrink: 0;
}

aside>footer>ul>li {
    transition: background-color 0.3s ease;
}

aside>footer>ul>li:hover {
    background-color: #e8e8e8;
}

aside>footer>ul>li>a {
    align-items: center;
    display: flex;
    color: #393939;
    font-size: 0.925rem;
    padding: 1rem 0.75rem;
    text-decoration: none;
}

aside>footer>ul>li>a>i {
    height: 24px;
    line-height: 24px !important;
    margin-right: 1rem;
    text-align: center;
    width: 24px;
}