@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
    --color-bg: #EBECF2;
    --color-surface: #FFFFFF;
    --color-border: #9A9EB2;
    --color-text-primary: #000;
    --color-text-secondary: #3F435D;
    --color-tooltip-bg: #2A2E33;
    --color-tooltip-text: #fff;
    --shadow-border: rgba(0, 0, 0, 0.1);
    --user-bg-color: #FAFAFC;
}

@font-face {
    font-family: 'CourierNew';
    src: url('assets/fonts/courier/cour.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CourierNew';
    src: url('assets/fonts/courier/courbd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CourierNew';
    src: url('assets/fonts/courier/couri.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CourierNew';
    src: url('assets/fonts/courier/courbi.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    box-sizing: border-box;
    font-family: 'CourierNew', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    display: flex;
    font-weight: 600;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

